/*body {
  font-family: Open Sans;
}*/

.main-content {
  padding-top: 0px !important;
}

.members-list {
  margin-top: 30px;
}

.members-list p {
  line-height: .9;
  margin: 0 0 20px;
}

.members-list .title {
  padding-left: 1px;
  font-family: Open Sans;
  color: #AAAAAA;
  font-size: 12px;
  font-weight: normal;
}

.personal-page {
  margin: 15px 0;
}

div[role=main] a, .page-subheading a {
  color: #404040;
  font-weight: bold;
  text-decoration: none;
}

h3 {
  margin-bottom: 20px;
}

.page-subheading.members a {
  line-height: 1.3 !important;
  font-weight: 300;
  font-style: italic;
}

div[role=main] a:hover, div[role=main] a:focus,
.page-subheading a:hover, .page-subheading a:focus,
.members-list a:hover .title, .members-list a:focus .title {
  color: #0085a1;
}

.navbar-brand {
  font-size: 26px;
}

.navbar-custom .nav li a {
  padding: 0px;
  margin: 15px;
}

.navbar-custom .nav li a.selected {
  border-bottom: 3px solid #000000;
}

.navbar-custom .nav li a.selected:hover {
  border-bottom: 3px solid #0085a1;
}

.project-thumb {
  margin: 0 auto; 
  position: relative;
  width: 350px;
  height: 350px;
  padding: 0;
  outline: 1px solid #CCCCCC;
  max-width: none;
  display: block;
  background-position: center;
  background-size: cover;
}

@media (min-width: 1200px) {
  .project-thumb {
    width: 400px;
    height: 400px;
  }
}

.project-list p {
  margin: 15px 0 0 0;
}

.project-list .row > div {
  margin-top: 30px;
}

.project-tag {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%,0);
  /*background: #FFFFFF;*/
  padding: 8px 10px;
  white-space: nowrap;
  text-transform: uppercase;
  margin: 0;
  vertical-align: baseline;
}

footer .theme-by {
  font-family: Open Sans;
}

.withTooltip {
  position: relative;
  display: inline-block;
}

.withTooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #ffffff;
  color: #404040;
  padding: 8px;

  font-size: 12px;
  line-height: 1.3;

  border: 2px solid #0085A1;
  box-shadow: 2px 2px 5px gray;
  cursor: default;

  position: absolute;
  z-index: 1;
  top: 125%;
  margin-left: -200px;
}

.row > div:nth-child(1) .tooltiptext {
  left: 100%;
}

.row > div:nth-child(2) .tooltiptext {
  left: 50%;
}

.row > div:nth-child(3) .tooltiptext {
  left: 0%;
}

.withTooltip:hover .tooltiptext {
  visibility: visible;
}
